.a1{
    color: blue;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}

d


asd



.bb{
    color: blue;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}
