daadas.a1{
    color: blue;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}

.bb{
    color: blue;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}
